name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  fsharp-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Run Problem 2
        run: dotnet fsi lab1/problem2.fsx

      - name: Run Problem 29
        run: dotnet fsi lab1/problem29.fsx
